<footer class="bg-primary pt-4 mt-auto container-fluid">

    <div class="col-md-12 text-center pt-2 pb-2">
        <p class="text-white" id="footer-credits"><small>built with &nbsp;
            <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder" >
            </a>
            
            &nbsp; last update: {{ site.time | date: '%Y' }}                
            </small>
        </p>

    </div>

</footer>