/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

/* Leaflet Map Marker Colours */

.marker-cluster-small {
    background-color: rgba(235, 0, 0, 0.6);
    }
    .marker-cluster-small div {
    background-color: rgba(235, 0, 0);
    color: white;
    }
    .marker-cluster-medium {
    background-color: rgba(198, 0, 24, 0.6);
    }
    .marker-cluster-medium div {
    background-color: rgba(198, 0, 24);
    color: white;
    }

    .marker-cluster-large {
    background-color: rgba(162, 0, 19, 0.6);
    }
    .marker-cluster-large div {
    background-color: rgba(162, 0, 19);
    color: white;
    }

.navbar-brand {
    width: 2rem !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: white !important; /* Ensure the text color stays white on hover */
    text-decoration: underline;
    text-decoration-color: #EB0000;
    text-decoration-thickness: 3px;
}

/*--
.navbar a:hover {
	/*-- color: white !important;
	text-decoration: underline;
	text-decoration-color: #EB0000;
	text-decoration-thickness: 3px;
} --*/