{% comment %}

    Adds a basic citation box for child item with reference link to the child page.

{%- endcomment -%}
<div class="card mb-2">
    <div class="card-header">Source</div>
    <div class="card-body">
        <dl>
            <dt>Preferred Citation:</dt>
            <dd>Twente, Moritz and Luisa Omonsky: {{ page.title }} in {{ page.location }} (Object ID {{ page.objectid }}), "{{ child.title | default: page.title }}". Part of: {{ site.title }}, retrieved: {{ 'now' | date: '%d.%m.%Y' }}.</dd>
            <dt>Reference Link:</dt>
            <dd>{{ page.url | absolute_url }}#{{ child.objectid }}</dd>
        </dl>
    </div>
</div>